/* Global */
html{
  min-height: 100%;
  overflow: hidden;
}
body{
  /* height: calc(100vh - 8em); */
  padding: 4em;
  color: #fac400;
  background-color: rgb(25,25,25);  
}
.line-1{
    display: flex;
    /* flex-direction: row; */
    text-align: center;
    position: relative;
    width: 20em;
    margin: 15% 30%  0 50%;
    border-right: 2px solid ;
    font-size: 150%;
    white-space: nowrap;
    overflow: hidden;
    transform: translateX(-50%);  
    
    color: rgb(0,175,200);
    font-family: 'Lobster', cursive;  
    text-shadow: -4px 4px 0 rgb(25,25,25),
                 -6px 6px 0 rgb(255,125,0);


}



/* Animation */
.anim-typewriter{
  animation: typewriter 4s steps(30) 1s 1 normal both,
             blinkTextCursor 500ms steps(30) infinite normal;
}
@keyframes typewriter{
  from{width: 0;}
  to{width: 30.5ch;}
}
@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}




/*down sentens // */

.line-2{
  display: flex;
  flex-direction: row;
    direction: rtl;
    position: relative;
    top: 55%;  
    width: 24em;
    margin: 1% 50% 0 50%;
    border-left: 2px solid ;
    font-size: 150%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateX(-65%);   
    
    color: #fac400;  
    text-shadow: 0 4px 0 rgb(25,25,25),
                 0 6px 0 rgba(255,255,255,.5),
                 0 10px 0 rgb(25,25,25),
                 0 12px 0 rgba(255,255,255,.25); 

}


.line-2::before{
  content:'((:';
    direction: rtl;
    color: rgb(8, 112, 197);
}

.line-2::after{
    content:':))';
    direction: rtl;
    color: rgb(8, 112, 197);
    margin-left: 54%;
}

/* Animation */
.anim-typewriter-2{
  animation: typewriter-2 4s steps(27) 5s 1 normal both,
             blinkTextCursor-2 500ms steps(27) infinite normal;
}
@keyframes typewriter-2{
  from{width: 0;}
  to{width: 27ch;}
}
@keyframes blinkTextCursor-2{
  from{border-left-color: rgba(255,255,255,.75);}
  to{border-left-color: transparent;}
}




 button{
  background-color: #f9004d;
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 25px;
  border: 1px solid transparent;
  border-radius: 30px;
  transition:  .5s;
  margin: 10% 45% 10% 45%;
  animation: down2up;
}
button:hover, button::after{
  cursor: pointer;
  color: rgb(0, 109, 128);
  border: 3px dashed #f9004d;
  background-color: rgb(25,25,25);
}
button:active{
  color: black;
  background-color: #f9004d;
  border: transparent;
}

.anim-down2up{
  animation: down2up 2s cubic-bezier(0.660, 0.005, 0.400, 1.590) 9s 1 normal both;  
}
@keyframes down2up{
  0%{
    opacity: 0;
    transform: translateY(100%);    
  }
  100%{
    opacity: 1;
    transform: translateY(0);    
  }
}


